.calculator-body {
	display: flex;
	margin: 11% auto;
	height: 600px;
	width: 500px;
	background-color: rgb(193, 193, 193);
	border-style: solid;
	flex-direction: column;
}

.display {
	display: flex;
	white-space: nowrap;
	width: 460px;
	height: 124.695px;
	margin: 20px auto;
	background-color: grey;
	font-size: 65.5px;
	justify-content: end;
	align-items: center;
	overflow: hidden;
}

.buttons-body {
	display: flex;
	flex-direction: column;
	width: 460px;
	height: 440px;
	margin: 0px 20px auto auto;
	background-color: white;
	justify-content: space-between;
}

.row {
	display: flex;
	justify-content: space-between;
}

.button {
	display: flex;
	width: 103.75px;  /*15px gap between each buttons */
	height: 98.75px; /*height of each button 98.75px */
	background-color: rgb(155, 155, 255);
	border-style: solid;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}

.button:active {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

